<%if current_user.id != @user.id%>
  <div class="margin_header">
    <h1>Going somewhere?</h1>
  </div>
  <div class="container_not_you" align ='center'>
    <h3>This is not you! Either go back </h3>
      <%= link_to "< Back", user_url(current_user), method: :get %>
    <h3>Or log out and sign in under your accout</h3>
      <%= link_to 'Login', login_path, method: :get, id: 'loginLink', class: 'login'%>
  </div>

<%else%>

  <div class="margin_header">
    <h1>Edit User</h1>
  </div>

  <div class="container center_div">
    <%= render 'form' %>
    <br>
    <%= link_to "< Back", user_url(current_user), method: :put %>
  </div>

<%end%>