
<div class="container center_div" align ='center'>
<header >
        <h1>Welcome to Quoter!</h1>
        <hr>
        <h3>A messaging app for Quotes of the Day</h3>
</header>


  <div class="welcome_boxes">
    <p>Get an account!</p>
      <%= link_to 'Register', new_user_path, method: :get, id: 'registerLink', class: 'login'%>
    </div>
  <br>
  <div class="welcome_boxes">
    <p>Already have an account?</p>
      <%= link_to 'Login', login_path, method: :get, id: 'loginLink', class: 'login' %>
  </div>

</div>
