<h2>Contacts</h2>
<div class ="container">
  <ul>
    <% @contacts.each do |contact| %>
      <li><%=contact.first_name + " " + contact.last_name + " | " + contact.number%> |
        <%= link_to "Edit", edit_contact_path(contact), method: :get %> |
        <%= link_to "Delete", contact_path(contact), method: :delete, data: { confirm: "You sure?"}, class: 'button tiny radius' %></li>
    <%end%>
  </ul>

  <%= link_to "Add Contact", new_contact_path, method: :get %>

</div>
