body {
  background-image: url("quill.jpg");
  background-size: 100%;
  background-repeat: repeat;
}

.container2 {
  background-color: #294860;
  border-radius: 20px;
  padding: 10px;
  margin: 30px auto;
  color: white;
  font-family: Helvetica;
  height: 300px;
  width: 200px;
  display: inline-block;
}

.container {
  background-color: #00a693;
  color: white;
  font-family: Helvetica, sans-serif;
  border-radius: 20px;
  padding: 10px;
  margin: 30px auto;
  position: absolute;
  margin-left: 25em;
  max-width: 700px;
  min-width: 620px;
  max-height: 600px;
  min-height: 200px;
  align: center;
}
.container h1 {
  color: white;
}
.container h2 {
  color: white;
}
.container h3 {
  color: white;
}
.container h4 {
  color: white;
}

.flash {
  font-family: Helvetica;
  background-color: #039f8f;
  padding: 10px;
  margin: 30px auto;
  border-radius: 20px;
  width: 30%;
  color: white;
}

.welcome_boxes {
  border: 1px solid black;
  border-radius: 15px;
  width: 300px;
  margin: 0px auto;
  background-color: white;
  opacity: 0.8;
}

#contact_name {
  opacity: 1;
  font-weight: bold;
}

.contact {
  border-radius: 13px;
  padding: 25px;
  background-color: white;
  color: #9300a6;
  opacity: 0.6;
  margin: auto;
  width: 60%;
  margin-top: 20px;
}
.contact :hover {
  -webkit-transform: scale(1.007);
  /* Safari and Chrome */
}

nav {
  float: left;
  position: fixed;
}

.left {
  margin-left: 23em;
}

.top_left {
  margin-top: -70px;
  margin-left: 23em;
}
