<div id="nav_bar">
  <ul>
    <li><a href="#">Quoter</a></li>
    <li><a href="#">About</a></li>
    <li><a href="www.github.com/jupiterliketheplanet">Github</a></li>
    <%if current_user%>
      <li><%= link_to 'Logout', logout_path, method: :delete %><li>
    <%end%>
  </ul>
</div>
